# Ignore build output
/build

# Ignore system-specific files
sdkconfig
sdkconfig.old
CMakeFiles
CMakeCache.txt
*.bin
*.elf
*.lst
*.map
*.partition*
.devcontainer

# Ignore IDE and editor files
.vscode
.idea
*.sublime-project
*.sublime-workspace
